body {
  background-color: #eaeaea;

}

.ui.fixed.menu {
  background-image: linear-gradient(
   135deg,
   rgb(64, 83, 190) 0%,
   rgb(170, 122, 111) 69%,
   rgb(202, 86, 57) 89%
  )
}

.ui.main.container {
  margin-top: 7em;
}

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
   135deg,
   rgb(64, 83, 190) 0%,
   rgb(170, 122, 111) 69%,
   rgb(202, 86, 57) 89%
  ) !important;
  height: 100vh;

}

.masthead h1.ui.header {
  font-size: 4em;
}